:host {
 --color-fg-default: var(--accent-color) !important;
 --color-fg-primary: var(--accent-color) !important;
 --border-radius: 6px !important;
}
* {
 transition: all 0.2s !important;
}

.container {
  height:0 !important;
  transform:scale(0) !important;
  opacity: 0 !important;
  overflow: initial !important; 
  border-radius: var(--border-radius) !important;
  transition:transform 0.2s, opacity 0.3s ease-out !important;
}
.container.show {
 height:auto !important;
 transform: scale(1) translateX(-46px) translateY(var(--light-indent)) !important;
 opacity: 1 !important;
 box-shadow: var(--box-shadow) !important;
}

.container .calendar .days-grid .day{
    cursor: pointer;
}
.container .calendar .days-grid .day:is(.selected, :hover):not(.start, .end){
    border-radius: var(--border-radius) !important;
}

.container.range-plugin .calendar > .days-grid > .day:is(
    .start:not(.flipped),
    .end.flipped
){
    border-top-left-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}
.container.range-plugin .calendar > .days-grid > .day:is(
    .end:not(.flipped),
    .start.flipped
){
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.container main {
  border-radius: inherit !important;
}

.range-plugin-tooltip {
    border-radius: 99px !important;
    transition: 0.5s !important;
}