:root{
	--rzd-color: #e21a1a;
	--accent-color: #003466;
	--secondary-color: #d2e0fa;
	--solid-color: #EFF4FF;

	--positive-color: forestgreen;
	--negative-color: red;
	--cancel-color: brown;
	--font-color: #545454;
	--background-color: #E9F3FF;
	
	--border: thin solid steelblue;
	--light-border: thin solid lightsteelblue;
	--indent: 12px;
	--light-indent: 6px;
	--strong-indent: 18px;
	--border-radius: 6px;
	--outer-border-radius: 9px;
	--box-shadow:  0 12px 18px -6px rgba(0, 0, 0, 0.3);
	--drop-shadow: 0 12px 18px      rgba(0, 0, 0, 0.3);
	
	accent-color: var(--accent-color);
}

*{
	font-family: Roboto, serif;
	color: var(--font-color);
	transition: 0.1s;
	/*border-radius: var(--border-radius);*/
}

body {
	display: grid;

	align-content: start;
    row-gap: var(--strong-indent);
	margin: var(--indent) var(--strong-indent);
	min-height: 100vh;
	background-color: var(--background-color);

	padding-bottom: 50vh;
}

body.nested{
	width: 100%;
	margin: 0;
}

h1, h2, h3, p, ul, li, a, span, input {
  margin: 0;
}

li{
	text-align: left;
}

*::-webkit-scrollbar {
  width: calc(var(--indent)/2);
}

*::-webkit-scrollbar-thumb {    
	border-radius: calc(var(--indent)/2);
  background: lightgray;
}

a {
	color: var(--accent-color);
}

span {
	white-space: break-spaces;
}

input {
	cursor: pointer;
}

/* cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto-cyrillic.woff2") format('woff2');
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto-latin.woff2") format('woff2');
}
/* mono */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto-mono.woff2") format('woff2');
}

