:root{
	--rzd-color: #e21a1a;
	--accent-color: #003466;
	--secondary-color: #d2e0fa;
	--solid-color: #EFF4FF;

	--positive-color: forestgreen;
	--negative-color: red;
	--cancel-color: brown;
	--font-color: #545454;
	--background-color: #E9F3FF;
	
	--border: thin solid steelblue;
	--light-border: thin solid lightsteelblue;
	--indent: 12px;
	--light-indent: 6px;
	--strong-indent: 18px;
	--border-radius: 12px;
	--outer-border-radius: 18px;
	--shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
	--light-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.3);
	--inner-shadow: inset var(--shadow);
	
	accent-color: var(--accent-color);
}

*{
	font-family: Roboto, serif;
	color: var(--font-color);
	transition: 0.1s;
	/*border-radius: var(--border-radius);*/
}

body {
	display: grid;

	align-content: start;
  row-gap: var(--strong-indent);
	width: calc(100% - var(--strong-indent) * 2);
	margin: var(--strong-indent);
	min-height: 100vh;
	background-color: var(--background-color);
}

body.nested{
	width: 100%;
	margin: 0;
}

h1, h2, h3, p, ul, li, a, span, input {
  margin: 0;
}

li{
	text-align: left;
}

*::-webkit-scrollbar {
  width: calc(var(--indent)/2);
}

*::-webkit-scrollbar-thumb {    
	border-radius: calc(var(--indent)/2);
  background: lightgray;
}

a {
	color: var(--accent-color);
}

span {
	white-space: break-spaces;
}

input {
	cursor: pointer;
}

/* cyrillic */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto-cyrillic.woff2") format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/roboto-latin.woff2") format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* STATES */
.unframed {
	border: none;
	background: transparent;
}

.wrong {
	color: var(--negative-color);
}

.error, .error * {
	color: white;
	background: var(--negative-color)
}

.collapsed, .collapsed * {
	user-select: none !important;
	pointer-events: none !important;
	height: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	border-width: 0 !important;
	opacity: 0 !important;

}
.collapsed input{
	display: none;
}

.disabled, .hidden {
	pointer-events: none;
	user-select: none;
}
.disabled {
	filter: grayscale(0.5) opacity(0.5);
}

.hidden, .hidden * {
	opacity: 0;
}

.none{
	display: none;
}

.positive, .positive > * {
	color: var(--positive-color) !important;
}

.negative, .negative > * {
	color: var(--negative-color) !important;
}