.vscomp-ele .vscomp-toggle-button {
    height: 50px;
    border: var(--light-border);
    border-radius: var(--border-radius);
    box-shadow: none !important;
}

.vscomp-ele .focused .vscomp-toggle-button,
.vscomp-ele .vscomp-wrapper:focus .vscomp-toggle-button {
    outline: solid thin var(--accent-color);
}

.vscomp-ele .vscomp-dropbox-container {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow) !important;
}
.vscomp-ele .vscomp-option.selected {
    background: initial !important;
}
.vscomp-ele .vscomp-option.selected * {
    color: var(--accent-color) !important;
    font-weight: bold;
}
.vscomp-ele .vscomp-option.selected .checkbox-icon::after {
    /*border-color: var(--accent-color) !important;*/
    border-bottom-color:  var(--accent-color) !important;
    border-right-color:  var(--accent-color) !important;
}
.vscomp-ele .vscomp-option.focused {
    background: var(--secondary-color) !important;
}