.vscomp-ele .vscomp-toggle-button {
    height: 50px;
    border: var(--light-border);
    border-radius: var(--border-radius);
    box-shadow: none !important;
}

.vscomp-ele .focused .vscomp-toggle-button,
.vscomp-ele .vscomp-wrapper:focus .vscomp-toggle-button {
    outline: solid thin var(--accent-color);
}

.vscomp-ele .vscomp-dropbox-container {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow) !important;
}

.vscomp-ele .vscomp-search-input {
    cursor: text;
}

.vscomp-ele .vscomp-toggle-all-button::after {
    content: "Выбрать все";
    white-space: nowrap;
    margin-right: var(--indent);
}

.vscomp-ele .vscomp-option.selected {
    background: initial !important;
}
.vscomp-ele :is(
  .vscomp-option.selected *,
  .vscomp-toggle-all-button:has(.checkbox-icon.checked)
) {
    color: var(--accent-color) !important;
}
.vscomp-ele :is(.vscomp-option.selected .checkbox-icon, .checkbox-icon.checked)::after {
    /*border-color: var(--accent-color) !important;*/
    border-bottom-color:  var(--accent-color) !important;
    border-right-color:  var(--accent-color) !important;
}
.vscomp-ele .vscomp-option.focused {
    background: var(--secondary-color) !important;
}
.vscomp-ele .checkbox-icon::after{
    border-radius: 2px;
}

.vscomp-ele .vscomp-options {
    transition: none !important;
}